﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
  <title>@ViewData["Title"] - Đặt phòng khách sạn</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="~/css/animate.css">
  <link rel="stylesheet" href="~/css/owl.carousel.min.css">
  <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="~/css/magnific-popup.css">
  <link rel="stylesheet" href="~/css/aos.css">
  <link rel="stylesheet" href="~/css/ionicons.min.css">
  <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="~/css/jquery.timepicker.css">
  <link rel="stylesheet" href="~/css/flaticon.css">
  <link rel="stylesheet" href="~/fonts/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="~/css/icomoon.css">
  <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Vacation<span>Booking Hotel</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active"><a href="/" class="nav-link">Trang chủ</a></li>
          <li class="nav-item"><a href="/thong-tin" class="nav-link">Thông tin</a></li>
          <li class="nav-item"><a href="/blog" class="nav-link">Blog</a></li>
          <li class="nav-item"><a href="/lien-he" class="nav-link">Liên hệ</a></li>
          @if(HttpContextAccessor.HttpContext.Session.GetInt32(Constants.SessionKey) != null){
          <li class="nav-item cta"><a href="/khach-hang/quan-ly-tai-khoan?page=profile" class="nav-link">
              @HttpContextAccessor.HttpContext.Session.GetString(Constants.SessionUsername)
            </a></li>
          }else{
          <li class="nav-item cta"><a href="/khach-hang/dang-ky" class="nav-link">Tham gia ngay</a></li>
          }

        </ul>
      </div>
    </div>
  </nav>
  <div class="hero-wrap js-fullheight" style="background-image: url('/images/place-2.jpg');"
    data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center"
        data-scrollax-parent="true">
        <div class="col-md-9 text text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
          <a href="https://vimeo.com/45830194"
            class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
            <span class="ion-ios-play"></span>
          </a>
          <p class="caps" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Join us now</p>
          <h1 data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Make Your Amazing</h1>
        </div>
      </div>
    </div>
  </div>
  <section class="ftco-section ftco-no-pb ftco-no-pt">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="search-wrap-1 ftco-animate p-4">
            <form action="#" class="search-property-1">
              <div class="row">
                <div class="col-lg align-items-end">
                  <div class="form-group">
                    <label for="#">Tên, địa điểm</label>
                    <div class="form-field">
                      <div class="icon"><span class="ion-ios-search"></span></div>
                      <input type="text" class="form-control" placeholder="Search place">
                    </div>
                  </div>
                </div>

                <div class="col-sm align-self-end">
                  <div class="form-group">
                    <div class="form-field">
                      <input type="submit" value="Search" class="form-control btn btn-primary">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  @RenderBody()

  <footer class="ftco-footer bg-bottom" style="background-image: url(images/footer-bg.jpg);">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Vacation</h2>
            <p>Dịch vụ đăng ký thuê phòng khách sạn với nền tảng tốt nhất</p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Thông tin</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Hỗ trợ trực tuyến</a></li>
              <li><a href="#" class="py-2 d-block">Thắc mắc chung</a></li>
              <li><a href="#" class="py-2 d-block">Điều khoản</a></li>
              <li><a href="#" class="py-2 d-block">Liên hệ</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Có câu hỏi?</h2>
            <div class="block-23 mb-3">
              <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">Le Duan Street, Vinh City, Nghe An,
                    Vietnam</span></li>
                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+84 988454444</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@vacation.com</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
        </div>
      </div>
    </div>
  </footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" /></svg></div>


  <script src="~/js/jquery.min.js"></script>
  <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
  <script src="~/js/popper.min.js"></script>
  <script src="~/js/bootstrap.min.js"></script>
  <script src="~/js/jquery.easing.1.3.js"></script>
  <script src="~/js/jquery.waypoints.min.js"></script>
  <script src="~/js/jquery.stellar.min.js"></script>
  <script src="~/js/owl.carousel.min.js"></script>
  <script src="~/js/jquery.magnific-popup.min.js"></script>
  <script src="~/js/aos.js"></script>
  <script src="~/js/jquery.animateNumber.min.js"></script>
  <script src="~/js/bootstrap-datepicker.js"></script>
  <script src="~/js/scrollax.min.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="~/js/google-map.js"></script>
  <script src="~/js/main.js"></script>

</body>

</html>