﻿@model List<DatPhongKhachSan.Models.KhachSan>;
    @{
    Layout = null;
    }
    <div class="row p-2">
        <div class="col-12">
            <div class="shadow rounded bg-white p-3">
                <h5>Danh sách khách sạn</h5>
                <hr>
                <a href="/khach-san/tao-khach-san" class="btn btn-primary btn-outline"><i class="fad fa-plus"></i> Thêm
                    khách sạn</a>
                <hr>
                @foreach(var khachsan in Model){
                <a href="#" class="text-dark">
                    <div class="hotel-item-min">
                        <div class="row">
                            <div class="col-auto">
                                <img src="@khachsan.HinhAnhs.ToList()[0].Url">
                            </div>
                            <div class="col-auto info">
                                <span class="title">
                                    @khachsan.TenKhachSan
                                </span>
                                <br>
                                <span class="param">
                                    <i class="fad fa-map-marker-alt"></i> Địa chỉ: @khachsan.DiaChi
                                </span>
                                <br>
                                <span class="param">
                                    <i class="fad fa-phone-square-alt"></i> Điện thoại: @khachsan.SoDienThoai
                                </span>
                                <br>
                                <span class="param">
                                    <i class="fad fa-calendar-alt"></i> Ngày bắt đầu: @khachsan.ThoiGianTao
                                </span>
                                <br>
                                <span class="param">
                                    <i class="fad fa-window-restore"></i> Lượt thuê: 0
                                </span>
                                <br>
                                <span class="param">
                                    <i class="fad fa-money-check-alt"></i> Số tiền thanh toán: 0 VND
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
                }
            </div>
        </div>
    </div>