@{
Layout = null;
}
<div class="w-100 text-center">
  <h3>ĐĂNG KÝ THÀNH VIÊN</h3>
</div>
<form action="/KhachHang/DangKyTaiKhoan" method="POST" class="p-5 bg-light">
  <div class="form-group">
    <label for="name">Tên đăng nhập *</label>
    <input type="text" class="form-control" id="TenDangNhap" name="TenDangNhap">
  </div>
  <div class="form-group">
    <label for="email">Email *</label>
    <input type="email" class="form-control" name="email" id="email">
  </div>
  <div class="form-group">
    <label for="website">Mật khẩu</label>
    <input type="password" class="form-control" id="MatKhau" name="MatKhau">
  </div>
  <div class="form-group">
    <input type="submit" value="Đăng ký" class="btn py-3 px-4 btn-primary">
  </div>
</form>