@model DatPhongKhachSan.Models.DangNhapModel
@{
Layout = null;
}
<div class="w-100 text-center">
  <h3>ĐĂNG NHẬP</h3>
</div>
<form action="/tai-khoan/dang-nhap" method="POST" class="p-5 bg-light">
  <div class="form-group">
    <label for="email">Tên đăng nhập hoặc Email *</label>
    <input type="text" class="form-control" name="TenDangNhap" id="TenDangNhap">
  </div>
  <div class="form-group">
    <label for="website">Mật khẩu</label>
    <input type="password" class="form-control" id="MatKhau" name="MatKhau">
  </div>
  <div class="form-group">
    <input type="submit" value="Đăng nhập" class="btn py-3 px-4 btn-primary">
  </div>
</form>