﻿@{
Layout = null;
}
<div class="row p-2">
    <div class="col-12">
        <div class="shadow rounded bg-white p-3">
            <h5>Hỗ trợ / khiếu nại</h5>
            <hr>
            <div class="row p-3">
                <label for="NgayTao">Thông tin góp ý / hỗ trợ: *</label>
                <textarea rows="10" class="form-control" name="Suport" id="Suport" required></textarea>
            </div>
            <div class="row pl-3 pr-3">
                <i>- Chúng tôi sẽ ghi nhận những đóng góp, góp ý và yêu cầu của bạn và sẽ liên lạc lại với bạn sớm
                    nhất</i>
            </div>
            <div class="row pl-3 pr-3">
                <i>- Hotline: 0987654321</i>
            </div>
            @if(@TempData["Result"] != null){
            <partial name="_FormStatus"></partial>
            }
            <hr>
            <div class="row text-right">
                <div class="col-12">
                    <button class="btn btn-primary">Gửi hỗ trợ / góp ý</button>
                </div>
            </div>
        </div>
    </div>
</div>