﻿@model DatPhongKhachSan.Models.NguoiDung;
@{
Layout = null;
}
<div class="row p-2">
    <div class="col-12">
        <div class="shadow rounded bg-white p-3">
            <h5>Thông tin tài khoản</h5>
            <hr>
            <form action="/tai-khoan/doi-thong-tin" method="POST">
                <div class="row">
                    <div class="col-5 text-center d-block">
                        <i class="fad fa-user-circle" style="font-size: 200px;"></i>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary btn-outline"><i class="fa fa-pen"></i> Đổi
                            ảnh</button>
                    </div>
                    <div class="col-7">
                        <div class="row p-3">
                            <label for="Ho">Tên dằng nhập: *</label>
                            <input type="text" class="form-control" asp-for="TenDangNhap" readonly required>
                        </div>
                        <div class="row p-3">
                            <label for="Ho">Họ: *</label>
                            <input type="text" class="form-control" asp-for="Ho" required>
                        </div>
                        <div class="row p-3">
                            <label for="Ten">Tên: *</label>
                            <input type="text" class="form-control" asp-for="Ten" required>
                        </div>
                        <div class="row p-3">
                            <label for="NgayTao">Ngày tham gia: *</label>
                            <input type="text" class="form-control" asp-for="NgayThamGia" readonly>
                        </div>
                        <div class="row p-3">
                            <label for="NgayTao">Số CMND: *</label>
                            <input type="text" class="form-control" asp-for="SoCMND" required>
                        </div>
                        <div class="row p-3">
                            <label for="NgayTao">Điện thoại: *</label>
                            <input type="phone" class="form-control" asp-for="SoDienThoai" required>
                        </div>
                        <div class="row p-3">
                            <label for="NgayTao">Email: *</label>
                            <input type="email" class="form-control" asp-for="Email" required>
                        </div>
                        <div class="row p-3">
                            <label for="NgayTao">Địa chỉ: *</label>
                            <textarea class="form-control" asp-for="DiaChi" required></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <partial name="_FormStatus"></partial>
                <div class="row text-right">
                    <div class="col-12">
                        <button class="btn btn-primary">Lưu thông tin</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>