@model DatPhongKhachSan.Models.QuanLyTaiKhoanModel;
@{
ViewData["Title"] = "Quản lý tài khoản";
Layout = "_LayoutMini";
var page = Context.Request.Query["page"];
}
<div class="body-wrap bg-light">
    <div class="container">
        <div class="row p-2">
            <a href="/khach-hang/quan-ly-tai-khoan?page=profile">
                <div class="col-4">
                    <div class='shadow rounded item-menu @(page == "profile" ? "active" : "")'>
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">Thông tin tài khoản</div>
                            <div class="col-auto"><i class="fad fa-id-card"></i></div>
                        </div>
                    </div>
            </a>
        </div>
        <a href="/khach-hang/quan-ly-tai-khoan?page=hotel">
            <div class="col-4">
                <div class='shadow rounded item-menu @(page == "hotel" ? "active" : "")'>
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">Khách sạn của bạn</div>
                        <div class="col-auto"><i class="fad fa-hotel"></i></div>
                    </div>
                </div>
        </a>
    </div>
    <a href="/khach-hang/quan-ly-tai-khoan?page=suport">
        <div class="col-4">
            <div class='shadow rounded item-menu @(page == "suport" ? "active" : "")'>
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">Hỗ trợ / khiếu nại</div>
                    <div class="col-auto"><i class="fad fa-user-headset"></i></div>
                </div>
            </div>
    </a>
</div>
</div>
@if(page=="profile"){
@Html.Partial("_ThongTinTaiKhoan", Model.NguoiDung)
}
@if(page=="hotel"){
@Html.Partial("_DanhSachKhachSan", Model.KhachSans)
}
@if(page=="suport"){
@Html.Partial("_HoTroKhieuNai")
}
</div>
</div>