@{
ViewData["Title"] = "Thông tin khách sạn";
Layout = "_LayoutMini";
}
<div class="body-wrap bg-light">
    <div class="container">
        <div class="card-simple">
            <div class="row">
                <div class="col-6">
                    <div class="w3-content" style="max-width:1200px">
                        <img class="mySlides" src="/images/image_1.jpg" style="width:100%;display:none">
                        <img class="mySlides" src="/images/image_4.jpg" style="width:100%">
                        <img class="mySlides" src="/images/image_5.jpg" style="width:100%;display:none">

                        <div class="w3-row-padding w3-section">
                            <div class="w3-col s4">
                                <img class="demo w3-opacity w3-hover-opacity-off" src="/images/image_1.jpg"
                                    style="width:100%;cursor:pointer" onclick="currentDiv(1)">
                            </div>
                            <div class="w3-col s4">
                                <img class="demo w3-opacity w3-hover-opacity-off" src="/images/image_4.jpg"
                                    style="width:100%;cursor:pointer" onclick="currentDiv(2)">
                            </div>
                            <div class="w3-col s4">
                                <img class="demo w3-opacity w3-hover-opacity-off" src="/images/image_5.jpg"
                                    style="width:100%;cursor:pointer" onclick="currentDiv(3)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="hotel-info">
                        <h4 class="hotel-title">Khách sạn giao tế</h4>
                        <p class="start">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="far fa-star"></i>
                            <i class="far fa-star"></i>
                        </p>
                        <p><i class="fa fa-map-marker-alt"></i> Số 5 Phường Trường Thi, TP Vinh, Nghệ An</p>
                        <div class="hotel-bonus form-inline">
                            <div class="hotel-bonus-item">
                                <i class="fad fa-wifi"></i>
                                <br>
                                <span>Free wifi</span>
                            </div>
                            <div class="hotel-bonus-item">
                                <i class="fad fa-fan"></i>
                                <br>
                                <span>Máy lạnh</span>
                            </div>
                            <div class="hotel-bonus-item">
                                <i class="fad fa-tv-alt"></i>
                                <br>
                                <span>Truyền hình cáp</span>
                            </div>
                            <div class="hotel-bonus-item">
                                <i class="fad fa-prescription-bottle"></i>
                                <br>
                                <span>Nước khoáng</span>
                            </div>
                            <div class="hotel-bonus-item">
                                <i class="fad fa-bed"></i>
                                <br>
                                <span>Giường tinh tươm</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="hotel-order">
                        <div class="text-center">
                            <div class="hotel-bonus-item font-40">
                                <i class="fad fa-bed"></i>
                            </div>
                        </div>
                        <p>Giá phòng 1 đêm:<span class="text-danger ml-3 font-30">250.000 VND</span>
                        </p>
                        <button class="btn btn-primary btn-block">ĐẶT PHÒNG NGAY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>