﻿@{
Layout = "_LayoutMini";
}
<div style="margin-top: 100px">
	<section class="ftco-section ftco-no-pt">
		<div class="container">
			<div class="row justify-content-center pb-4">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<h2 class="mb-4">Danh sách khách sạn</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="/khach-san/1" class="img" style="background-image: url(images/destination-1.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">8 Days Tour</span>
							<h3><a href="/khach-san/1">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-mountains"></span>Near Mountain</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-2.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">10 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-3.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-4.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">8 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-5.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">10 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 ftco-animate">
					<div class="project-wrap">
						<a href="#" class="img" style="background-image: url(images/destination-6.jpg);"></a>
						<div class="text p-4">
							<span class="price">$300/person</span>
							<span class="days">7 Days Tour</span>
							<h3><a href="#">Bali, Indonesia</a></h3>
							<p class="location"><span class="ion-ios-map"></span> Bali, Indonesia</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
								<li><span class="flaticon-sun-umbrella"></span>Near Beach</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="text-center w-100 ftco-animate">
					<p><a href="#" class="btn btn-primary py-3 px-4">Xem thêm</a></p>
				</div>
			</div>
		</div>
	</section>
</div>