﻿@{
Layout = "_LayoutMini";
}
<div class="body-wrap">
    <div class="container">
        <form enctype="multipart/form-data" action="/KhachSan/TaoKhachSan" method="POST">
            <div class="row">
                <div class="col-12">
                    <partial name="_FormStatus"></partial>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="shadow rounded bg-white p-3">
                        <h5>Thông tin khách sạn</h5>
                        <hr>
                        <div class="row p-3">
                            <label for="Ho">Tên khách sạn: *</label>
                            <input type="text" class="form-control" name="TenKhachSan" id="TenKhachSan" required>
                        </div>
                        <div class="row p-3">
                            <label for="Ho">Số điện thoại: *</label>
                            <input type="text" class="form-control" name="SoDienThoai" id="SoDienThoai" required>
                        </div>
                        <div class="row p-3">
                            <label for="Ho">Địa chỉ: *</label>
                            <input type="text" class="form-control" name="DiaChi" id="DiaChi" required>
                        </div>
                        <div class="row p-3">
                            <label for="Ho">Giá thuê: *</label>
                            <input type="text" class="form-control" name="GiaThue" id="GiaThue" required>
                        </div>
                        <div class="row p-3">
                            <label for="Ho">Số phòng: *</label>
                            <input type="text" class="form-control" name="SoPhong" id="SoPhong" required>
                        </div>
                        <div class="row p-3">
                            <label for="Ho">Thông tin khác:</label>
                            <textarea type="text" class="form-control" name="ThongTinKhac" id="ThongTinKhac"></textarea>
                        </div>
                        <hr>
                        <button class="btn btn-primary">Thêm ngay</button>
                    </div>
                </div>
                <div class="col-5">
                    <div class="shadow rounded bg-white p-3">
                        <h5>Ảnh slide</h5>
                        <hr>
                        <input type="file" class="form-control" name="slides" id="slides" multiple accept="image/*">
                    </div>
                    <div class="shadow rounded bg-white p-3 mt-3">
                        <h5>Thông tin khác</h5>
                        <hr>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="FreeWifi" id="FreeWifi"
                                    value="">Free
                                Wifi
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="MayLanh" id="MayLanh"
                                    value="true">Máy lạnh
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="TruyenHinhCap" id="TruyenHinhCap"
                                    value="true">Truyền hình cáp
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="NuocKhoang" id="NuocKhoang"
                                    value="true">Nước khoáng
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="Giuong" id="Giuong"
                                    value="true">Giường tinh tươm
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" name="AnSang" id="AnSang"
                                    value="true">Ăn sáng
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>