@{
    Layout = null;
}

<section class="ftco-section services-section bg-light">
      <div class="container">
        <div class="row d-flex">
          <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate">
          	<h2 class="mb-4">Hệ thống đặt phòng khách sạn toàn quốc</h2>
            <p>Là hệ thống tiên phong trong lĩnh vực đặt phòng khách sạn trực tuyến</p>
            <p>Mang lại sự tiện lợi và an toàn cho tất cả mọi người.</p>
            <p><a href="/khach-hang/dang-ky" class="btn btn-primary py-3 px-4">Tham gia ngay</a></p>
          </div>
          <div class="col-md-6">
          	<div class="row">
          		<div class="col-md-6 d-flex align-self-stretch ftco-animate">
		            <div class="media block-6 services d-block">
		              <div class="icon"><span class="flaticon-paragliding"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Nhanh chóng</h3>
		                <p>Đặt phòng và nhận phòng ngay, không cần chờ thủ tục</p>
		              </div>
		            </div>      
		          </div>
		          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
		            <div class="media block-6 services d-block">
		              <div class="icon"><span class="flaticon-route"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Tiện lợi</h3>
		                <p>Đặt phòng ở bất kỳ đâu</p>
		              </div>
		            </div>    
		          </div>
		          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
		            <div class="media block-6 services d-block">
		              <div class="icon"><span class="flaticon-tour-guide"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Thanh toán dễ dàng</h3>
		                <p>Thanh toán trực tiếp hoặc dịch vụ thanh toán online</p>
		              </div>
		            </div>      
		          </div>
		          <div class="col-md-6 d-flex align-self-stretch ftco-animate">
		            <div class="media block-6 services d-block">
		              <div class="icon"><span class="flaticon-map"></span></div>
		              <div class="media-body">
		                <h3 class="heading mb-3">Mọi lúc mọi nơi</h3>
		                <p>Có mặt hơn 50 tỉnh thành và hơn 1000 khách sạn khác nhau</p>
		              </div>
		            </div>      
		          </div>
          	</div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-counter img" id="section-counter">
    	<div class="container">
    		<div class="row d-flex">
    			<div class="col-md-6 d-flex">
    				<div class="img d-flex align-self-stretch" style="background-image:url(images/bangkok.jpg);"></div>
    			</div>
    			<div class="col-md-6 pl-md-5 py-5">
    				<div class="row justify-content-start pb-3">
		          <div class="col-md-12 heading-section ftco-animate">
		            <h2 class="mb-4">Kết nối với chúng tôi</h2>
		            <p>Đi thật xa, ở thật xa.</p>
		          </div>
		        </div>
		    		<div class="row">
		          <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center mb-4">
		              <div class="text">
		                <strong class="number" data-number="300">0</strong>
		                <span>Đối tác khách sạn</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center mb-4">
		              <div class="text">
		                <strong class="number" data-number="24000">0</strong>
		                <span>Lượt đặt phòng</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-4 justify-content-center counter-wrap ftco-animate">
		            <div class="block-18 text-center mb-4">
		              <div class="text">
		                <strong class="number" data-number="200">0</strong>
		                <span>Khách hàng</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>