@model IEnumerable<DatPhongKhachSan.Models.KhachSan>
@{
    Layout = null;
}

    <section class="ftco-section ftco-no-pt">
    	<div class="container">
    		<div class="row justify-content-center pb-4">
          <div class="col-md-12 heading-section text-center ftco-animate">
            <h2 class="mb-4">Khách sạn</h2>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="/khach-san/1" class="img" style="background-image: url(images/destination-1.jpg);"></a>
        			<div class="text p-4">
        				<span class="price">300.000 VND</span>
        				<span class="days">***</span>
        				<h3><a href="/khach-san/1">Khách sạn Hoa Mai</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> Tp. Vinh, Nghệ An</p>
        				<ul>
        					<li><span class="flaticon-shower"></span>1</li>
        					<li><span class="flaticon-king-size"></span>3</li>
        					<li><span class="flaticon-mountains"></span>Near Mountain</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="/khach-san/1" class="img" style="background-image: url(images/destination-1.jpg);"></a>
        			<div class="text p-4">
        				<span class="price">300.000 VND</span>
        				<span class="days">***</span>
        				<h3><a href="/khach-san/1">Khách sạn Hoa Mai</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> Tp. Vinh, Nghệ An</p>
        				<ul>
        					<li><span class="flaticon-shower"></span>1</li>
        					<li><span class="flaticon-king-size"></span>3</li>
        					<li><span class="flaticon-mountains"></span>Near Mountain</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="/khach-san/1" class="img" style="background-image: url(images/destination-1.jpg);"></a>
        			<div class="text p-4">
        				<span class="price">300.000 VND</span>
        				<span class="days">***</span>
        				<h3><a href="/khach-san/1">Khách sạn Hoa Mai</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> Tp. Vinh, Nghệ An</p>
        				<ul>
        					<li><span class="flaticon-shower"></span>1</li>
        					<li><span class="flaticon-king-size"></span>3</li>
        					<li><span class="flaticon-mountains"></span>Near Mountain</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="/khach-san/1" class="img" style="background-image: url(images/destination-1.jpg);"></a>
        			<div class="text p-4">
        				<span class="price">300.000 VND</span>
        				<span class="days">***</span>
        				<h3><a href="/khach-san/1">Khách sạn Hoa Mai</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> Tp. Vinh, Nghệ An</p>
        				<ul>
        					<li><span class="flaticon-shower"></span>1</li>
        					<li><span class="flaticon-king-size"></span>3</li>
        					<li><span class="flaticon-mountains"></span>Near Mountain</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="/khach-san/1" class="img" style="background-image: url(images/destination-1.jpg);"></a>
        			<div class="text p-4">
        				<span class="price">300.000 VND</span>
        				<span class="days">***</span>
        				<h3><a href="/khach-san/1">Khách sạn Hoa Mai</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> Tp. Vinh, Nghệ An</p>
        				<ul>
        					<li><span class="flaticon-shower"></span>1</li>
        					<li><span class="flaticon-king-size"></span>3</li>
        					<li><span class="flaticon-mountains"></span>Near Mountain</li>
        				</ul>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="project-wrap">
        			<a href="/khach-san/1" class="img" style="background-image: url(images/destination-1.jpg);"></a>
        			<div class="text p-4">
        				<span class="price">300.000 VND</span>
        				<span class="days">***</span>
        				<h3><a href="/khach-san/1">Khách sạn Hoa Mai</a></h3>
        				<p class="location"><span class="ion-ios-map"></span> Tp. Vinh, Nghệ An</p>
        				<ul>
        					<li><span class="flaticon-shower"></span>1</li>
        					<li><span class="flaticon-king-size"></span>3</li>
        					<li><span class="flaticon-mountains"></span>Near Mountain</li>
        				</ul>
        			</div>
        		</div>
        	</div>
            <div class="text-center w-100 ftco-animate">
                <p><a href="/khach-san" class="btn btn-primary py-3 px-4">Xem tất cả</a></p>
            </div>
        </div>
    	</div>
    </section>